# 数据的归宿

## 文件输入输出

### 使用`write()`写文本文件

以`poem`作为源数据：

In [1]:
poem = '''There was a young lady named Bright,
Whose speed was far faster than light;
She started one day
In a relative way,
And returned on the previous night.'''

len(poem)
fout = open('relativity', 'wt')
fout.write(poem)
fout.close()

向文件中写入数据，既可以用`write()`也可以用`print()`,使用`write()`时不会添加空格或换行符，而使用`print()`时，会默认在每个参数后添加空格，在每行结束处添加换行。可以用`sep`来指定分隔符，其默认为空格` `；可以用`end`来指定结束符，默认是换行`\n`

### 使用`read()/readline()`或者`readlines()`读文本文件

In [2]:
fin = open('relativity', 'rt')
poem = fin.read()
fin.close()
len(poem)

150

In [3]:
poem = ''
fin = open('relativity', 'rt')
while True:
    line = fin.readline()
    if not line:
        break
    poem += line
fin.close()
print(len(poem))
print(poem)

150
There was a young lady named Bright,
Whose speed was far faster than light;
She started one day
In a relative way,
And returned on the previous night.

In [4]:
fin = open('relativity', 'rt')
lines = fin.readlines()
fin.close()
print(len(lines), 'lines read')
for line in lines:
    print(line, end='')

5 lines read
There was a young lady named Bright,
Whose speed was far faster than light;
She started one day
In a relative way,
And returned on the previous night.

### 使用`with`自动关闭文件

In [5]:
with open('relativity', 'wt') as fout:
    fout.write(poem)

### 使用`seek()`改变游标的位置

`seek()`返回当前的偏移量，调用`seek()`的形式为:`seek(offset,origin)`
* 如果`origin`等于0（默认为0），从开头偏移`offset`个字节
* 如果`origin`等于1，从当前位置处偏移`offset`个字节
* 如果`origin`等于2，距离最后结尾处偏移`offset`个字节

In [6]:
bdata = bytes(range(0,256))

with open('bfile', 'wb') as fout:
    fout.write(bdata)
with open('bfile', 'rb') as fin:
    print(fin.tell())
    print(fin.seek(255))
    
    bdata = fin.read()
    print(bdata[0])

0
255
255

## 结构化的文本文件
### CSV

写`CSV`文件

In [7]:
import csv
villains = [
    ['Doctor', 'No'],
    ['Rosa', 'Klebb'],
    ['Mister', 'Big'],
    ['Auric', 'Goldfinger'],
    ['Ernst', 'Blofeld'],
]
with open('villains', 'wt') as fout:
    csvout = csv.writer(fout)
    csvout.writerows(villains)

读`csv`文件

In [8]:
import csv
with open('villains', 'rt') as fin:
    cin = csv.reader(fin)
    villains = [row for row in cin]
print(villains)

[['Doctor', 'No'], ['Rosa', 'Klebb'], ['Mister', 'Big'], ['Auric', 'Goldfinger'], ['Ernst', 'Blofeld']]

### JSON

`JSON`形式的数据结构：

In [9]:
menu = \
{
"breakfast":{
        "hours": "7-11",
        "items":{
                "breakfast burritos": "$6.00",
                "pancakes": "$4.00"
                }
        },
"lunch": {
        "hours": "11-3",
        "items": {
                "hamburger": "$5.00"
                }
        },
"dinner":{
        "hours": "3-10",
        "items":{
                "spaghetti": "$8.00"
                }
        }

}

import json
menu_json = json.dumps(menu)
print(menu_json)

{"breakfast": {"hours": "7-11", "items": {"breakfast burritos": "$6.00", "pancakes": "$4.00"}}, "lunch": {"hours": "11-3", "items": {"hamburger": "$5.00"}}, "dinner": {"hours": "3-10", "items": {"spaghetti": "$8.00"}}}

In [10]:
menu2 = json.loads(menu_json)
print(menu2)

{'breakfast': {'hours': '7-11', 'items': {'breakfast burritos': '$6.00', 'pancakes': '$4.00'}}, 'lunch': {'hours': '11-3', 'items': {'hamburger': '$5.00'}}, 'dinner': {'hours': '3-10', 'items': {'spaghetti': '$8.00'}}}

In [15]:
print(type(menu2))
if isinstance(menu2,dict):
    for key in menu2.keys():
        print(menu2[key])

<class 'dict'>
{'hours': '7-11', 'items': {'breakfast burritos': '$6.00', 'pancakes': '$4.00'}}
{'hours': '11-3', 'items': {'hamburger': '$5.00'}}
{'hours': '3-10', 'items': {'spaghetti': '$8.00'}}

### 使用`pickle`序列化
存储数据结构到一个文件中也称为序列化(serializing). `Python`提供了`pickle`模块以特殊的二进制格式保存和恢复数据对象.

In [16]:
import pickle
import datetime
now1 = datetime.datetime.utcnow()
pickled = pickle.dumps(now1)
now2 = pickle.loads(pickled)
print('now1:', now1)
print('pickled:', pickled)
print('now2', now2)

now1: 2022-03-18 13:26:41.486928
pickled: b'\x80\x04\x95*\x00\x00\x00\x00\x00\x00\x00\x8c\x08datetime\x94\x8c\x08datetime\x94\x93\x94C\n\x07\xe6\x03\x12\r\x1a)\x07n\x10\x94\x85\x94R\x94.'
now2 2022-03-18 13:26:41.486928

## 结构化二进制文件
### 层次数据格式`HDF5`
层次数据格式`HDF5`是一种用于多维数据或者层次数值数据的二进制数据格式。它主要用在科学计算领域，快速读取海量数据集(GB或者TB)是常见的需求。它能适用于`WORM`(Write One/Read Many; 一次写入，多次读取)应用，不用担心写操作冲突的数据保护。常用接口有`h5py`和`PyTables`。
### 关系型数据库
#### `DB-API`
`DB-API`是`Python`中访问关系型数据库的标准API。主要函数如下所示：
* `connect()`
  
  连接数据库，包含参数用户名、密码、服务器地址，等等
* `cursor()`
  
  创建一个`curcor`对象来管理查询
* `execute()`和`executemany()`

  对数据库执行一个或多个`SQL`命令
* `fetchone()`、`fetchmany()`和`fetchall()`

  得到`execute`之后的结果
#### `SQLite`
下例创建一个数据库`enterprise.db`和表单`zoo`用以管理路边繁华的宠物动物园业务。表单的列如下所示：
* `critter`

  可变长度的字符串，作为主键
* `count`

  某动物的总数的整数值
* `damages`

  人和动物的互动中损失的美元数目

In [1]:
import sqlite3

conn = sqlite3.connect('enterprise.db')
curs = conn.cursor()
curs.execute(''' CREATE TABLE zoo
(
    critter VARCHAR(20) PRIMARY KEY,
    count INT,
    damages FLOAT
)
''')

往动物园中新增一些动物：

In [2]:
curs.execute('INSERT INTO zoo VALUES("duck", 5, 0.0)')
curs.execute('INSERT INTO zoo VALUES("bear", 2, 1000.0)')

使用`placeholder`是一种更安全的、插入数据的方法:

In [3]:
ins = 'INSERT INTO zoo (critter, count, damages) VALUES(?, ?, ?)'
curs.execute(ins, ('weasel', 1, 2000.0))

在`SQL`中使用三个问号表示要插入三个值，并把它们作为一个列表传入函数`execute()`。这些占位符用来处理一些冗余的细节，例如引用(quoting)。它们会防止`SQL`注入：一种常见的`Web`外部攻击方式，向系统插入恶意的`SQL`命令。

现在使用`SQL`获取所有动物：

In [4]:
curs.execute('SELECT * FROM zoo')
rows = curs.fetchall()
print(rows)

[('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0)]

按照`count`排序的结果：

In [6]:
curs.execute('SELECT * FROM zoo ORDER BY count')
rows = curs.fetchall()
print(rows)

[('weasel', 1, 2000.0), ('bear', 2, 1000.0), ('duck', 5, 0.0)]

需要花费最多的动物：

In [7]:
curs.execute('''SELECT * FROM zoo WHERE
    damages = (SELECT MAX(damages) FROM zoo)''')
print(curs.fetchall())

[('weasel', 1, 2000.0)]

断开所有连接(`connection`)和游标(`cursor`)

In [8]:
curs.close()
conn.close()

#### `SQLAlchemy`
* 引擎层连接
* SQL表达式语言
* 对象关系映射